body {
    margin: 0px;
    padding: 0px;


    background-color: #34364f;
    background-color: #1B2430;
    background-color: #0D1821;

    /* background-color: #eef4ed; */

    /* coolors 
    1.#0D1821
    2.#344966
    3.#B4CDED
    4.#F0F4EF
    5.#BFCC94
    #06c
    */


    background-repeat: no-repeat;
    background-position: center center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: Apercu, "Source Sans Pro", system, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
    /* font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; */


}

body.light {
    background-color: #D6E6F2;
}



html {
    scroll-behavior: smooth;
}





/*          *******                       Navbar      *******              */


.icon {
    position: absolute;
    top: 3vw;
    /* 44rem changed to 3vw */
    left: 3vw;
    /* 41rem changed to 3vw */
    /* border-radius: 10px; */
    cursor: pointer;
    display: flex;
}

.navbar {

    display: flex;
    align-items: center;


}


.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    font-size: 1.3vw;
    /*1.2rem  changed to 1.3vw*/
    /* transition: all 2s cubic-bezier(0.645,0.045,0.355,1); */
}

.navbar ul li a {
    /* color: black; */
    margin: 2rem 7rem 0rem 9rem;
    text-decoration: none;
    display: block;
    padding: 0.4rem 1rem;
    color: rgb(188, 188, 188);


}

.navbar ul li a:after {

    content: "";
    position: relative;
    display: block;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #F15412;
    transition: width 0.4s ease 0s, left 0.4s ease 0s;
    width: 0;
}

.navbar ul li a:hover:after {

    width: 100%;
    left: 0;
}

.navbar ul li a:hover {
    color: #F15412;
}

.navbar-hide {
    opacity: 0;
    transition: all 1s;
    transform: translateY(-15%);
}

.navbar-show {
    opacity: 1;
    transform: translateY(0);
}



/* light mode color */
.navbar ul li a.light {
    color: #344966;
}


/*  ********** Dark mode ********** */

.dark-mode-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.label:hover {
    cursor: pointer;
}

.checkbox {
    opacity: 0;
    position: absolute;
}


.label {
    width: 50px;
    height: 22px;
    background-color: #000000;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.ball {
    width: 26px;
    height: 26px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;

}

.checkbox:checked+.label .ball {
    transform: translate(26px);
}

.fa-moon {
    color: white;
    left: .2px;
}

.fa-sun {
    color: yellow;
}

.sunicon {
    width: 1rem;
}


/*          *******                Left side         *******           */

.left {
    display: inline-block;
    position: fixed;
    float: left;
    margin-top: 13rem;
}


.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

.left ul li {
    list-style: none;

}

.left ul li a {
    /* color: white; */
    color: rgb(188, 188, 188);
    /* color: #13315c; */

}

.left svg {
    vertical-align: middle;
    padding: 20px;
}

.left svg:hover {
    transform: translateY(-0.25em);
    transition: all 0.2s;
    color: #F15412;
}


.icons {
    width: 20px;
    height: 20px;

}



.left ul::after {
    transition-delay: 1000ms;
    content: "";
    width: 1px;
    height: 180px;
    background-color: rgb(188, 188, 188);

    /* background-color: white; */
    /* background-color: #344966; */
    display: block;
    margin: 0px auto;


}



/* light mode color */
.left ul li a.light {
    color: #344966;
}

.left ul::after.light {
    background-color: #344966;
}





/*             *******       right       *******                      */

.email {
    position: fixed;
    margin-top: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 40px;
    width: 40px;
    transition-delay: all 900ms;
}

.delayemail {
    transition-delay: 1250ms;
}

.email a {
    writing-mode: vertical-rl;
    padding: 10px;
    margin: 20px auto;
    color: rgb(188, 188, 188);
    transition: height 0.5s;
    text-decoration: none;
    transition: all 0.2s;

}

.email a:hover {
    color: #F15412;
    transform: translateY(-0.25em);

}

.email::after {
    content: "";
    width: 0.8px;
    height: 183px;
    background-color: rgb(188, 188, 188);
    /* background-color: white; */
    display: block;
    margin: 0px auto;
}



/* light mode color */
.email a.light {
    color: #344966;
}

.email::after.light {
    background-color: #344966;
}




/*               ******      Main heading         *******                    */

.main-heading-container {

    /* border: 4px solid red; */
    display: inline-block;
    /* text-align: center; */
    margin: 3rem auto auto 11rem;
    color: rgb(188, 188, 188);
    /* color: #B4CDED; */
    width: 78rem;
    height: 30rem;
    padding: 2rem;
    width: 74vw;
    /* transform:  translateY(-50%);
    transition: transform 400ms ease-in; */

}

/* .main-heading-container.fade-in.appear{
    transform: translateY(0);
} */

.heading {
    float: left;

}


.mainhead {

    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 6vw;
    /* color: #B4CDED;
    color: #0D1821; */
    color: #E1EBEF;

}

.heading span {
    /* content: "";
    position: relative;
    background-color: #F15412;
    height: 2px;
    width: 100%; */

    background-color: transparent;
    outline-width: 0;
    /* font-weight: 700; */
    box-sizing: inherit;
    color: #f06428;
    /* color: #cd6032; */
    /* background-image: linear-gradient(0deg,#f15412 0,#f15412 35%,transparent 0,transparent); */
}

.heading p {
    font-size: 1.2vw;
    margin: 1.9rem 0 1.9rem 0;
    color: rgb(188, 188, 188);
}

.contact {
    padding: 1rem;
    border: 0;
    border-radius: 6px;
    background: #F15412;
}

.contact:hover {
    cursor: pointer;
    background-color: #002B5B;
    /* transition: all 0.5s; */
}

.contact a {
    text-decoration: none;
    color: white;
}


.fade-in {
    opacity: 0;
    transition: all 1s;
    transform: translateY(20%);
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}

.one:nth-child(3) {
    transition-delay: 800ms;
}

.one:nth-child(4) {
    transition-delay: 900ms;
}

.one:nth-child(5) {
    transition-delay: 900ms;
}

.one:nth-child(6) {
    transition-delay: 900ms;
}

.mobile-navbar {
    display: none;
}




/* light mode color */
.main-heading-container.light {
    color: #344966;
    color: #13315c;

}

.mainhead.light {
    color: #344966;
    color: #002B5B;
}


.heading p.light {
    color: #344966;
}


/*           *******             About           *******                         */
.about-container {
    color: white;
    /* display: inline-block; */
    /* text-align: center; 
    border: 1px solid yellow;
    width: 75rem;
    height: 80rem;
    height: auto; */
    margin-left: 11rem;
    /* border: 1px solid yellow; */
    /* width: auto; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

#heading2 {

    font-size: 5vw;
    /* text-align: center; */
    -webkit-text-stroke: 1px #B4CDED;
    -webkit-text-fill-color: transparent;
    /* -webkit-text-stroke: 0.8px #f06428; */


}

/* light mode color */
#heading2.light {
    -webkit-text-stroke: 1px #344966;
    -webkit-text-stroke: 1px #000000;
}


#heading2::after {
    content: '';
    width: 20vw;
    background-color: #f06428;
    height: 1px;
    position: absolute;
    display: block;
    /* left: 39rem; */

}

.info {
    padding: 2rem;
    background: #0D1821;
    background: #1B2430;

    /* background: #51557E; */
    width: 100%;
    max-width: 62rem;
    box-shadow: 0px 12px 10px 8px rgba(0, 0, 0, 0.1);
    /* z-index: 30; */
    position: relative;
    top: 30%;
    /* left: 5%; */
    border-radius: 10px;
}


/* light mode color */
.info.light {
    background: #81b0cd;
}


.about-container p,
span {
    color: rgb(188, 188, 188);
    font-size: 1.1vw;
    /* color: #B4CDED; */
}

/* light mode color */

.about-container p.light,
span.light {
    color: #344966;
}

.work2 {
    margin-left: 1rem;
    /* color: #F15412; */
}


.list span::before {
    content: "▹";
    color: #F0F4EF;
    color: #F15412;

}



#heading3 {
    /* text-align: center; */
    font-size: 5vw;
    -webkit-text-stroke: 1px #B4CDED;
    -webkit-text-fill-color: transparent;
}


#heading3::after {
    content: '';
    display: block;
    width: 20vw;
    background-color: #f06428;
    height: 1px;
    position: absolute;
    /* left: 41rem; */
}

.skill-container {
    display: flex;
    justify-content: space-around;
    background-color: #1B2430;
    width: 60rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 12px 10px 8px rgba(0, 0, 0, 0.1);
    /* position: absolute;
    margin: auto; */

}



.skills {

    display: flex;
    margin-top: 1rem;
    flex-direction: column;


}

.skill-container img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill-container p {
    font-size: 2.1vw;
    /* display: flex; */
    position: relative;
    display: flex;
    margin: auto;
}




/* light mode color */
#heading3.light {
    -webkit-text-stroke: 1px #000000;
}

.skill-container.light {
    background-color: #81b0cd;
}



/*        *******          Projects        *******          */



.project {
    display: flex;
    margin: auto;
}

.sub-heading {
    /* color: #F15412; */
    text-align: center;
    font-size: 2vw;
}

.project-container {
    /* margin-top: 9rem; */
    color: white;
    /* border: 1px solid blue; */
    /* width: 99.8%; */
    /* margin: 3rem 1rem 0 0; */
    /* height: 100rem; */
    margin-left: 11rem;
    padding: 2rem;
    /* display: flex;
    margin: auto; */

}


#project-heading {
    font-size: 5vw;
    /* -webkit-text-stroke: 1px #B4CDED; */
    /* text-align: center; */

    -webkit-text-stroke: 1px #B4CDED;
    -webkit-text-fill-color: transparent;
}



#project-heading::after {
    content: '';
    width: 16vw;
    height: 1px;
    background-color: #f06428;
    position: absolute;
    display: block;
    /* left: 39rem; */
}

.projects {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    margin: auto;
    /* margin-right: 15rem; */
}

.librarypoject,
.randomquotes,
.foodordering,
.todolist {
    background-color: #1B2430;
    width: 32vw;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 12px 10px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    margin-right: 1rem;
    transition: all 0.2s;
}

.librarypoject:hover,
.randomquotes:hover,
.foodordering:hover,
.todolist:hover {
    cursor: pointer;
    transition: all 0.4s;
    transform: scale(1.2);
}

.link {
    margin-left: 1rem;
}

.link:hover {
    color: #F15412;
}

.project-images {
    display: flex;
    margin: auto;
    width: 20vw;
    /* display: block; */
    /* float: right; 
    margin-top: 4rem; */

}

#git-project-link {
    width: 20px;
    height: 20px;
    cursor: pointer;
    /* display: flex;
    flex-wrap: wrap;
    margin: auto;  */
}

#git-project-link:hover {
    color: #F15412;
}

.projects a {
    color: white;
}

.net-img {

    position: relative;
    width: 40rem;
    float: right;
    margin-top: 4rem;
    top: 55rem;
    right: 10rem;

}

#projectButton {
    font-family: sans-serif;
    color: #F0F4EF;
    padding: 0.8rem;
    background-color: #F15412;
    border: 0px transparent;
    border-radius: 6px;
    transition: all 0.5s;
}


#projectButton:hover {
    cursor: pointer;
    background-color: #344966;
    border: 0px solid #0D1821;
}




/* light mode projects */

.projects.light {
    background-color: #81b0cd;
}

#project-heading.light {
    -webkit-text-stroke: 1px #000000;
}

.library-project p.light {
    color: #344966;
}

#git-project-link.light {
    color: #344966;
}



/*   *********  Blogs  ******** */


.blogs {
    margin-top: 9rem;
    /* margin-left: 11rem; */
    /* border: 1px solid green; */
    padding: 2rem;
}

.blogs h2 {
    font-size: 5vw;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #B4CDED;
    text-align: center;
}

.blogs h2::after {
    content: '';
    width: 12vw;
    height: 1px;
    background-color: #f06428;
    position: absolute;
    display: block;
    left: 41rem;

}

.blog-container {
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;

}

.blog {
    background: #1B2430;
    /* background:#81b0cd; */
    /* background:#B9D7EA; */
    padding: 2rem;
    width: 50vw;
    border-radius: 10px;
    transition: all 0.3s;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    /* border: 0.5px solid rgb(188, 188, 188); */

}


/* .first::after, .two::after, .three::after{
    content: "";
    width: 50vw;
    height: 1px;
    background-color: #B4CDED;
    display: block;
} */

.two,
.three {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.four {
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.blog:hover {
    transform: scale(1.02);
    box-shadow: 0px 12px 10px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.blog h3 {
    font-size: 2vw;
    color: #E1EBEF;
    display: inline;
    position: relative;
    left: 1rem;

}



.link {
    text-decoration: none;
}

.blog p {
    color: #959A9E;
    position: relative;
    left: 6rem;

    /* display: flex; */
}



#meditate-emoji {

    display: inline;
    /* margin: auto; */
    background-color: #344966;
    /* background-color:#769FCD; */
    border-radius: 50%;
    padding: 0.6rem;
    font-size: 2.5rem;
    position: relative;
    top: 2rem;

}


/* light mode color */
.blog h3.light {
    color: #1B2430;
}

.blogs h2.light {
    -webkit-text-stroke: 0px #000000;
    -webkit-text-fill-color: #344966;
}

.blog.light {
    background-color: #81b0cd;
}

.blog p.light {
    color: #344966;
}









/* ******* Footer ********* */

footer span {
    font-size: 1vw;
    margin: auto;
    display: flex;
    justify-content: center;
}


/* *********  Media Queries ********* */


/* Tablet */

@media only screen and (max-width: 1200px) and (min-width:768px) {

    .navbar {
        display: none;
    }

    .left {
        display: none;
    }

    .email {
        display: none;
    }

    /* main heading */

    .mainhead {
        font-size: 7vw;
    }

    .main-heading-container {
        margin: 9rem auto auto 10px;
    }

    .mobile-navbar {
        display: block;
        /* border: 1px solid red; */
    }

    .heading p {
        font-size: 1.6vw;

    }

    .heading span {
        font-weight: bold;
        font-size: 1.6vw;
    }

    .logo {
        width: 2.8rem;
        display: inline-block;
        position: absolute;
        top: 2.4rem;
        left: 1.2rem;
    }

    .contact {
        display: block;
        padding: 1rem;
        background: #13315c;
        border: none;
        border-radius: 4px;
    }

    .contact a {
        text-decoration: none;
    }

    .mobile-navbar {
        display: block;
        /* border: 1px solid red; */
    }


    .menu-icon {
        z-index: 3;
        display: inline-block;
        position: relative;
        float: right;
        top: 2.9rem;
        right: 1rem;

    }

    .line-1,
    .line-2,
    .line-3 {
        width: 2rem;
        height: 0.2rem;
        background-color: #ffff;
        border-radius: 0.4rem;
        transition: all 0.5s;
    }

    .line-1 {
        margin-bottom: 0.4rem;
        transition: all 0.5s;
    }

    .line-2 {
        margin-bottom: 0.4rem;
        transition: all 0.5s;
    }


    .line-1-activate {
        transform: translate(0, 5px) rotate(40deg);
        position: fixed;
        transition: all 0.5s;
    }

    .line-2-activate {
        transform: scale(0, 0);
        transition: all 0.5s;
    }

    .line-3-activate {
        transform: translate(0, -5px) rotate(-40deg);
        position: fixed;
        transition: all 0.5s;
    }


    .mobile-menu {
        display: none;
        transition: all 0.5s;
    }

    .mobile-menu li {

        list-style: none;
    }

    .mobile-menu li a {
        text-decoration: none;
        list-style: none;
        color: #eaeaea;
        font-size: 1.5rem;
    }

    .mobile-menu-activate {
        display: flex;
        transition: all 1s;
        background-color: #0D1821;
        width: 100%;
        height: 100%;
        opacity: 2;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 30%;

    }

    .mobile-menu ul {
        margin-top: 7rem;
        margin-left: 6rem;
    }


    /* about */
    .about-container {
        margin-left: 4rem;
        padding: 1rem;
    }

    #heading2::after {
        display: block;
    }

    .info {
        padding: 1rem;
        /* width: 100%; */
        max-width: 50rem;
    }

    .about-container p,
    span {
        font-size: 1.4vw;
    }

    #heading3 {
        margin-right: 9rem;
    }

    #heading3::after {
        display: block;
    }

    .skill-container {
        margin-left: 2rem;
        width: 45rem;
        padding: 1rem;
    }

    .skill-container img {
        margin: 0 3.5rem 1rem 3.5rem;
        width: 5.5rem;
    }

    .skill-container p {
        font-size: 1.7vw;
    }


    .project-container {
        margin-left: 4rem;
    }

    .projects {
        /* display: block; */
        width: 50rem;
        padding: 1rem;
    }

    #projectButton {
        margin-top: 1rem;
    }

    .blogs h2::after {
        display: block;
        left: 28rem;
        /* display: flex;
        margin: auto; */
    }

}



/* Tablet with portrait display */

@media only screen and (max-width:768px) and (min-width:600px) {

    .navbar {
        display: none;
    }

    .left {
        display: none;
    }

    .email {
        display: none;
    }


    /* Main heading */

    .main-heading-container {
        margin: 9rem auto auto 10px;
    }

    .mobile-navbar {
        /* border: 1px solid red; */
    }

    .logo {
        display: inline-block;
        position: absolute;
        top: 2rem;
        left: 2rem;
    }


    .menuicon {
        display: inline-block;
        position: relative;
        float: right;
        top: 2.4rem;
        right: 1.6rem;

    }

    #menu-icon {
        font-size: 2rem;
    }

    .contact {
        display: block;
        padding: 1rem;
        background: #13315c;
        border: none;
        border-radius: 4px;
    }


    .about-container {
        margin-left: 10px;
        padding: 1rem;
    }

    #heading2::after {
        top: 4rem;
        left: -17rem;
    }

    .info {
        padding: 1rem;
        /* width: 100%; */
        max-width: 50rem;
    }

    #heading3 {
        margin-right: 5rem;
    }

    #heading3::after {
        left: 37rem;
    }

    .skill-container {
        width: 45rem;
        padding: 1rem;
    }

    .skill-container img {
        margin: 0 3.5rem 1rem 3.5rem;
        width: 5rem;
    }


    /* .project-container {
        width:55rem;
    } */

    .blogs h2::after {
        left: 28rem;
    }

}




/* Phone */

@media only screen and (max-width:600px) {

    .navbar {
        display: none;
    }

    .left {
        display: none;
    }

    .email {
        display: none;
    }


    /* Main heading */

    .mainhead {
        font-size: 14vw;
    }

    #hello {
        margin-top: 7rem;
    }

    .head {
        font-size: 7vw;

    }

    .main-heading-container {

        width: 19rem;
        /* border: 4px solid red; */
        display: flex;
        margin: auto;

        /* margin: 9rem auto auto 10px; */
    }

    .heading p {
        font-size: 4vw;

    }

    .heading span {
        font-weight: bold;
        font-size: 4vw;
    }

    .contact {
        display: block;
        padding: 1rem;
        background: #13315c;
        border: none;
        border-radius: 4px;
    }

    .contact a {
        text-decoration: none;
        color: #d14d15;
    }


    .logo {
        width: 2.4rem;
        display: inline-block;
        position: absolute;
        top: 2.4rem;
        left: 1.2rem;
    }

    .mobile-navbar {
        display: block;
        /* border: 1px solid red; */
    }


    .menu-icon {
        z-index: 3;
        display: inline-block;
        position: relative;
        float: right;
        top: 2.9rem;
        right: 1rem;

    }

    .line-1,
    .line-2,
    .line-3 {
        width: 2rem;
        height: 0.2rem;
        background-color: #ffff;
        border-radius: 0.4rem;
        transition: all 0.5s;
    }

    .line-1 {
        margin-bottom: 0.4rem;
        transition: all 0.5s;
    }

    .line-2 {
        margin-bottom: 0.4rem;
        transition: all 0.5s;
    }


    .line-1-activate {
        transform: translate(0, 5px) rotate(40deg);
        position: fixed;
        transition: all 0.5s;
    }

    .line-2-activate {
        transform: scale(0, 0);
        transition: all 0.5s;
    }

    .line-3-activate {
        transform: translate(0, -5px) rotate(-40deg);
        position: fixed;
        transition: all 0.5s;
    }


    .mobile-menu {
        display: none;
        transition: all 0.5s;
    }

    .mobile-menu li {

        list-style: none;
    }

    .mobile-menu li a {
        text-decoration: none;
        list-style: none;
        color: #eaeaea;
        font-size: 1.5rem;
    }

    .mobile-menu-activate {
        display: flex;
        transition: all 1s;
        background-color: #0D1821;
        width: 100%;
        height: 100%;
        opacity: 2;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 30%;

    }

    .mobile-menu ul {
        margin-top: 7rem;
        margin-left: 6rem;
    }

    .checkbox:checked+.label .ball {
        transform: translate(26px);
    }


    /*  About */

    #heading2 {
        font-size: 7vw;
        margin-top: 7rem;
        color: #B4CDED;
        -webkit-text-stroke: 0px #000000;
        -webkit-text-fill-color: #D6E6F2;
    }

    .about-container {
        padding: 1rem;
        display: flex;
        margin: auto;
        margin-top: 8rem;
    }

    #heading2::after {
        display: none;
    }

    .info {
        padding: 0.5rem;
        /* width: 100%; */
        max-width: 20rem;
        width: 100%;
    }

    .about-container p,
    span {
        font-size: 3.8vw;
    }

    #heading3 {
        margin-top: 3rem;
        font-size: 7vw;
        color: #B4CDED;
        -webkit-text-stroke: 0px #000000;
        -webkit-text-fill-color: #D6E6F2;
    }

    #heading2.light {
        -webkit-text-stroke: 0px #000000;
        -webkit-text-fill-color: #344966;
    }

    #heading3.light {
        -webkit-text-stroke: 0px #000000;
        -webkit-text-fill-color: #344966;
    }

    #heading3::after {
        display: none;
    }

    .skill-container {
        padding: 0.5rem;
        max-width: 19rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .skill-container img {
        display: flex;
        margin: auto;
        width: 6rem;
        padding: 1rem;

    }

    .skill-container p {
        font-size: 1.2rem;
    }


    /* Projects */

    /* .project-container {
        border: 1px solid blue;
    } */
    #project-heading {
        font-size: 7vw;
        margin-top: 7rem;
        color: #B4CDED;
        -webkit-text-stroke: 0px #000000;
        -webkit-text-fill-color: #D6E6F2;

    }

    #project-heading.light {
        -webkit-text-stroke: 0px #000000;
        -webkit-text-fill-color: #344966;
    }

    #project-heading::after {
        display: none;
    }

    .sub-heading {
        font-size: 3.2vw;
    }

    .text {
        font-size: 2.9vw;
    }

    .project-container {
        /* margin-left: 1rem; */
        padding: 1rem;
        display: block;
        /* margin: auto; */
        margin-left: 0;
    }

    .projects {
        max-width: 19rem;
        width: 100%;
        padding: 1rem;
        /* margin-top: 3rem; */
        display: flex;
        margin: auto;
    }

    .lib-img {
        width: 15rem;

    }

    #projectButton {
        padding: 0.4rem;
        border-radius: 8px;
    }




    /* Blogs */

    .blogs {
        /* border: 1px solid green;  */
        margin-top: 7rem;
        padding: 1rem;
    }

    .blogs h2 {
        font-size: 7vw;
        -webkit-text-stroke: 0px #000000;
        -webkit-text-fill-color: #D6E6F2;

    }

    .blogs h2.light {
        -webkit-text-stroke: 0px #000000;
        -webkit-text-fill-color: #344966;
    }

    .blogs h2::after {
        display: none;
    }

    .blog-container {

        align-items: center;
        flex-direction: column;
        display: flex;
        margin: auto;
    }

    .blog {
        max-width: 18rem;
        width: 100%;
        padding: 1rem;
        /* margin-left: 0; */
        display: flex;
        margin: auto;
    }

    .blog h3 {
        font-size: 3.3vw;
    }

    .blog p {
        font-size: 2.6vw;
    }

    #meditate-emoji {
        padding: 0.4rem;
    }

    footer span {
        font-size: 2.5vw;
        /* display: none; */
    }


}